.game-board{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.row{
    display: flex;
}

.cell{
    width: 20px;
    height: 20px;
    border: 1px solid #000;
}

.wall{
    background-color: #000;
}

.path{
    background-color: white;
}

.pellet{
    width: 5px;
    height: 5px;
    background-color: yellow;
    border-radius: 50%;
    margin: auto;
}