.ghost {
    /* width: 3%;
    height: 3%; */
    /* background-size: cover;
    background-repeat: no-repeat; */
    position: absolute;
}

.ghost-red {
    /* background-image: url('../assets/ghosts/g1.jpg'); */
    background-color: red;
        border-radius: 50%;
}

.ghost-green {
    /* background-image: url('../assets/ghosts/g2.jpg'); */
    background-color: green;
        border-radius: 50%;
}

.ghost-blue {
    /* background-image: url('../assets/ghosts/g3.jpg'); */
    background-color: blue;
        border-radius: 50%;
}

.ghost-purple {
    /* background-image: url('../assets/ghosts/g4.jpg'); */
    background-color: purple;
        border-radius: 50%;
}