/* .pacman{
    width: 20px;
    height: 20px;
    background-color: #ff0;
    border-radius: 50%;
    position: absolute;
} */

.pacman {
    width: 3%;
    height: 3%;
    background-image: url('../assets/pacman.png');
    /* Update with the correct path */
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}